// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// News Feed 
.blogShort{ 
    padding: 15px 115px 15px 0; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
	position: relative; /* So the thumbnail is relative to this */
    border-bottom:1px solid #ddd;
    border-top: 1px solid white; 
    display: inline-block;
    overflow:hidden;
}

.article-thumbnail{
    vertical-align: middle;
    left: 0;
    padding-right: 15px;
    width: 12.0vw;
    height: auto;
}

.article-link {
    right: 0;
    position: absolute;
    top:40%;
}

.btn-show-more {
    display: table; 
    margin: 0 auto;
}

/* .rembeddit {
    height: 25%;
    overflow: hidden;
} */