// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// News Feed 
.blogShort{ 
    padding: 15px 105px 15px 95px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
	position: relative; /* So the thumbnail is relative to this */
    border-bottom:1px solid #ddd;
    border-top: 1px solid white; 
}

.article-thumbnail{
    top: 15%;
    left: 0;
    position: absolute;
    width: 4.0vw;
    height: auto;
}

.article-link {
    top: 20%;
    right: 0;
    position: absolute;
}
